asgiref==3.9.1
Django==5.2.5
djangorestframework==3.16.1
pillow==11.3.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
gunicorn==20.1.0
cloudinary==1.38.0
django-cloudinary-storage==0.4.0


